{% extends 'jumbotron.html' %}

{% block navbar %}
  <style> .jumbotron{ margin-top:230px; box-shadow: 0 0 15px #000; } </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <h1>playddit</h1>
    </div>
    <div class="col-lg-6"><p>&nbsp;</p></div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p>Create a YouTube playlist from your favorite subreddit!</p>
    </div>
    <div class="col-lg-6">
      <form action="." method="post">
        <div class="row">
          <div class="col-md-10">
            <input id="subreddit" name="subreddit" class="form-control" type="text" placeholder="/r/" autofocus />
          </div>
          <div class="col-md-2">
            <button class="btn btn-success">Create my Playlist!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block extra_content %}
{% endblock %}
