<style> body { padding-top: 50px; padding-bottom: 20px; } </style>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">playddit</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form" action="/" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="subreddit">
        </div>
        <button type="submit" class="btn btn-success">Listen!</button>
      </form>
    </div>
  </div>
</div>
