{% extends 'normal.html' %}

{% block title %}/r/{{ subreddit }} | playddit{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div id="player" class="row center-block text-center glyphicon-align-center" style="margin-top:20px;"></div>
  <script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '600',
        width: '985',
        videoId: {{ first|safe }},
        html5: true,
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }
    function onPlayerReady(event) {
      player.loadPlaylist({{ playlist|safe }});
    }
    var done = false;
    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
        setTimeout(stopVideo, 6000);
        done = true;
      }
    }
    function stopVideo() {
      player.stopVideo();
    }
  </script>

{% endblock %}
